* {
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Praise', cursive;
    font-family: 'Shippori Antique', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

header {
    text-align: center;
    background-color: black;
    line-height: 100px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
    display: inline;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
}

.home {
    color: brown;
}

.banner {
    background-color: #191919;
    color: white;
    height: fit-content;
    display: flex;
    padding: 3%;
}

h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 15px;
}

h4 {
    color: #454343;
}

a {
    text-decoration: none;
    background-image: linear-gradient(rgb(23, 21, 17), rgb(59, 52, 51));
    color: white;
    padding: 15px 40px;
}

.half-width {
    width: 50%;
    margin-right: 10px;
    padding: 5%;
}

p {
    margin-bottom: 15px;
}

.products {
    display: flex;
    margin: 10px;
}

.show {
    background-color: rgb(54, 44, 24);
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
    height: 500px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.show2 {
    display: flex;
    justify-content: right;
    align-items: center;
    color: black;
    background-color: #8a8080;
    width: 70%;
    height: 500px;
    margin-left: 508px;
    margin-bottom: 10px;
}

.show3 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #211212;
    width: 90%;
    height: 500px;
}

#sp {
    margin-left: 95px;
}

.prdtbtn {
    padding: 20px 40px;
    color: black;
    border: 2px solid black;
    font-weight: 500;
    font-size: 15px;
}

.prdtbtn:hover {
    background-color: #454343;
}

.show2 img {
    width: 80%;
}

.btn {
    border: none;
    padding: 25px;
    background-color: #191919;
    color: white;
    width: 25%;
    cursor: pointer;
}

.show img {
    width: 80%;
}

.p1 {
    background-color: #c7c1c1;
    padding: 2%;
    margin: 2px;
    text-align: center;
}

.products img {
    width: 100%;
}

.half-width img {
    width: 100%;
    margin-left: 50px;
}